<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate User</title>
</head>
<body>

<a href="/">Home</a>

<p> Generate user</p>
<ul>
    <li th:text="${user.id}"></li>
    <li th:text="${user.name}"></li>
    <li th:text="${user.surname}"></li>
    <li th:text="${user.gender}"></li>
    <li th:text="${user.email}"></li>
    <li th:text="${user.birthday}"></li>
    <li th:text="${created}"></li>
</ul>
</body>
</html>