<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSS Reader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<p>Greetings from Spring Boot! Main page</p>

<ul>
    <li><a href="/generateRandomUser">Show generate user</a></li>
    <li><a href="/users">Show users</a></li>
    <li><a href="/authorize">Authorize</a></li>
    <li><a  th:href="@{/logoutUser/(session=${sessionId})}" >Log out</a></li>
</ul>
<form th:action="@{/logoutUser}" method="post">
    <input type="hidden"  id="form_name" name="sessionId" th:value="${sessionId}"/>
    <input type="submit" value="Logout"/>
</form>

<hr>
<h2>Hello Twitter Bootstrap</h2>
<p>Opened session: <span th:text="${sessionId}"></span></p>
<div class="btn-group">
    <button type="button" class="btn btn-success" onclick="registry()">This is a success button</button>
    <button type="button" class="btn btn-warning">This is a warning button</button>
    <button type="button" class="btn btn-danger">This is a danger button</button>
</div>
</body>
</html>
