<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<a href="/">Home</a>
<p>List users <span th:text="${#lists.size(users)}" remove="tag">[0]</span></p>

<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Created</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td th:utext="${user.id}">...</td>
            <td th:utext="${user.name}">...</td>
            <td th:utext="${user.surname}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.gender}">...</td>
            <td th:utext="${user.created}">...</td>

        </tr>
    </table>
</div>
<ul>
</ul>
</body>
</html>